body {
  font-family: Helvetica, Arial, sans-serif;
}

.container {
  margin: 0 auto;
  background-color: #efefef;
  max-width: 1200px;
}

.box {
  background-color: #8ea86e;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  margin: 10px;
}

.logo {
  width: 40%;
  /* margin-left: auto;
  margin-right: auto; */
}

.nav {
  margin: 10px;
  width: 10%;
  float: right;
}

#burgerCon {
  margin-bottom: 20px;
  position: fixed;
  top: 85px;
  width: 100%;
  background-color: rgb(255, 255, 255, 0.9);

  /* this should be off by default and  */
  display: none;
}

.show-mobile-nav {
  display: block !important;
}

#burgerCon li {
  padding: 20px;
  border-top: thin 1px black;
  text-align: center;
}

#burgerCon a {
  text-decoration: none;
  color: #8ea86a;
}

@media screen and (min-width: 600px) {
#mainHeader {
  display: flex;
  flex-direction: row;
}

.box {
  flex: 1 1 auto;
}

.nav {
  flex: 1 1 600px; /* flex-shirnk, flex-grow and flex basis*/
}

.logo {
  order: -1;
  flex: 0 1 220px;
  margin-right: auto;
  margin-left: 10px;
}

#products {
  display: flex;
  flex-direction: row;
}

}
